<div class="container">
  <form (ngSubmit)="searchDoi()" class="search-form">
    <mat-form-field class="doi-input">
      <mat-label>Enter DOI</mat-label>
      <input matInput [(ngModel)]="doi" name="doi" required>
      <button mat-icon-button matSuffix type="submit">
        <mat-icon>search</mat-icon>
      </button>
    </mat-form-field>
  </form>

  <mat-card *ngIf="articleInfo" class="result-card">
    <mat-card-header>
      <mat-card-title>{{articleInfo.message.title[0]}}</mat-card-title>
      <mat-card-subtitle>Published: {{articleInfo.message.published['date-parts'][0] | date:'longDate'}}
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p><strong>DOI:</strong> {{articleInfo.message.DOI}}</p>
      <p *ngIf="articleInfo.message.author; else noAuthor">
        <strong>Authors:</strong>
        <span *ngFor="let author of articleInfo.message.author; last as isLast">{{author.given}}
          {{author.family}}{{isLast ? '' : ','}}</span>
      </p>
      <ng-template #noAuthor>No authors listed.</ng-template>
      <p *ngIf="articleInfo.message.abstract"><strong>Abstract:</strong> {{articleInfo.message.abstract}}</p>
      <p><strong>Publisher:</strong> {{articleInfo.message.publisher}}</p>
      <p><strong>Type:</strong> {{articleInfo.message.type}}</p>
      <p><strong>ISSN:</strong> {{articleInfo.message.ISSN[0]}}</p>
      <p><strong>Subject:</strong> {{articleInfo.message.subject[0]}}</p>
      <div *ngIf="articleInfo.message.reference">
        <strong>References:</strong>
        <ul *ngFor="let reference of articleInfo.message.reference">
          <li  *ngIf="reference['series-title'] || reference['series-title'] || reference['journal-title']">
              {{reference['series-title'] ? reference['series-title'] : reference['article-title'] ? reference['article-title'] : reference['journal-title']}} - {{reference.DOI}}
          </li>
        </ul>
      </div>
      <div *ngIf="articleInfo.message.link">
        <strong>Links:</strong>
        <ul>
          <li *ngFor="let link of articleInfo.message.link">
            <a href="{{link.URL}}" target="_blank">{{link.URL}}</a>
          </li>
        </ul>
      </div>
    </mat-card-content>
  </mat-card>



  <mat-list *ngIf="searchHistory.length > 0">
    <h2 style="text-align: center;">Search History</h2>
    <mat-list-item *ngFor="let pastDoi of searchHistory" (click)="searchDoi(pastDoi)">
      {{ pastDoi }}
    </mat-list-item>
  </mat-list>
</div>